/*
    Created on : 21 Aug, 2017, 3:36:59 PM
    Author     : yogesh
*/
.block-top-google-news {
  background: activecaption none repeat scroll 0 0;
}
.block-top-google-news  > h2 {
  font-weight: bold;
  text-align: center;
}
.top-google-news .news-item {
  width: 100%;
  height: 210px;
}
.top-google-news .news-title {
  border-top: 1px solid #ccc;
  font-family: times new roman;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  padding: 10px;
}
.top-google-news .news-image {
  width: 40%;
  padding-left: 10px;
}
.top-google-news .news-image > img {
  float: left;
  height: 200px;
  width: 200px;
}
.top-google-news  .news-description {
  float: left;
  width: 60%;
  padding: 10px;
  font-family: arial;
}
.top-google-news .news-publish {
  float: left;
  width: 60%;
  padding: 10px;
  font-family: arial;
}
.news-publish > span {
  font-style: italic;
  font-weight: bold;
}
